@model List<IGrouping<Destino, CidadeModel>>

<div asp-controller="Cidades" asp-action="Destino" class="container-fluid">
    <div class="row">
        @foreach (var grupo in Model)
        {
            <div class="col-lg-4 d-flex flex-column">
                <div class="align-self-start">
                    <h2>@grupo.Key</h2> <!-- Tipo de destino  -->
                    <ul>
                        @foreach (var cidade in grupo.OrderBy(c => c.Nome))
                        {
                            <li>@cidade.Nome</li> <!-- Nome da cidade -->
                        }
                    </ul>
                </div>
                <div class="mt-auto d-flex justify-content-center">
                    <a href="#" class="btn btn-primary flex-fill" >VER TODAS</a>
                </div>
            </div>
        }
    </div>
</div>

