@using DestinoComum2.Models
@model CidadeModel


<div class="container mt-5">
        <h2>Detalhes da Cidade - @Model.Nome </h2>

        <div class="text-center">
        <img src="/Imagem/@Model.Capa" style="width:400px; height: 400px " />
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label mt-3">Nome</label>
                <input type="text" class="form-control shadow-none" asp-for="Nome" disabled />
            </div>

            <div class="mb-1 col-6">
                <label class="form-label mt-3">País</label>
            <input type="text" class="form-control shadow-none" asp-for="Pais" disabled />
            </div>
        </div>

        <div class="mb-1">
            <label class="form-label mt-3">Descrição</label>
            <textarea asp-for="Descricao" class="form-control shadow-none" disabled></textarea>
        </div>

        <div class="mb-1">
            <label class="form-label mt-3">Tipo de Destino</label>
        <input type="text" class="form-control shadow-none" asp-for="TipoDestino" disabled />
        </div>

    <div class="mb-1">
        <label class="form-label mt-3">Data da Última Atualização</label>
        <input type="text" class="form-control shadow-none" asp-for="DataUltimaAtualizacao" disabled />
    </div>
    
    <div class="btn-box d-flex mt-3">
            <a type="submit" class="btn btn-info w-100 mx-1" asp-action="Index" asp-controller="Cidade"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
    </div>
</div>
