@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Descubra o Mundo</h1>
    <p>Conecte-se com outros viajantes e se inspire</p>
    <div>
        <img src="/img/Home/Home.png" alt="Alternate Text" />
    </div>

</div>
