@using DestinoComum2.Dto.Home
@model LoginDto
<link rel="stylesheet" href="~/css/Login.css">
@{
    Layout = "_LayoutDeslogada";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}
<h1 class="login">Login</h1>

<div class="container" style="width: 60rem; background: gray; color: black; ;padding: 70px; border-radius: 5px">

    <form method="post" asp-action="Login" asp-controller="Home">
        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" asp-for="Email"/>
            <span asp asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" asp-for="Senha" />
            <span asp asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <p id="cadastro" class="form-label">Não tem conta ?<a asp-action="Cadastrar" asp-controller="Usuario" asp-route-id="1">Cadastre-se</a></p>
        </div>

        <button id="entrar" type="submit" class="btn btn-primary w-50" style="font-size: 16px">Entrar</button>
    </form>


</div>