@using DestinoComum2.Dto.Usuario
@using DestinoComum2.Enum
@model UsuarioCriacaoDto


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-5">
    <form method="post" asp-action="Cadastrar" asp-controller="Usuario">
        @if (ViewBag.Perfil == PerfilEnum.Cliente)
        {
           <h2 style=" letter-spacing:5px; display:flex; justify-content:center; align-items:center; margin-bottom:8rem; margin-top:10rem; font-size:3rem;">Cadastro de Clientes</h2>
        }
        else
        {
            <h2 style=" letter-spacing:5px; display:flex; justify-content:center; align-items:center; margin-bottom:8rem; margin-top:10rem; font-size:3rem;">Cadastro de Clientes>Cadastro de Funcionários</h2>
        }

        <div class="mb-1">
            <label style="font-weight:bold; ">Nome Completo:</label>
            <input style="border-radius:5px;" type="text" asp-for="NomeCompleto" class="form-control shadow-none"/>
            <span class="text-danger" asp-validation-for="NomeCompleto"> </span>
        </div>

        <div class="mb-1">
            <label style="font-weight:bold;">Usuário:</label>
            <input style="border-radius:5px;" type="text" asp-for="Usuario" class="form-control shadow-none" />
            <span class="text-danger" asp-validation-for="Usuario"></span>
        </div>

        <div class="mb-1">
            <label style="font-weight:bold;">CPF:</label>
            <input style="border-radius:5px;" style="border-radius:5px;" type="text" asp-for="CPF" class="form-control shadow-none" />
            <span class="text-danger" asp-validation-for="CPF"></span>
        </div>

        <div class="mb-1">
            <label style="font-weight:bold;" >E-mail:</label>
            <input style="border-radius:5px;" type="email" asp-for="Email" class="form-control shadow-none" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        @if(ViewBag.Perfil != PerfilEnum.Cliente)
        {
            <div class="mb-1">
                <label>Perfil:</label>
                <select asp-for="Perfil" class="form-control shadow-none">
                    <option value="Administrador" selected>Adminsitrador</option>
                </select>
                <span class="text-danger" asp-validation-for="Perfil"></span>
            </div>
        }
        <div class="mb-1">
            <label style="font-weight:bold;" >Senha:</label>
            <input style="border-radius:5px;" type="password" asp-for="Senha" class="form-control shadow-none" />
            <span class="text-danger" asp-validation-for="Senha"></span>
        </div>
        <div class="mb-1">
            <label  style="font-weight:bold;" >Confirmar Senha:</label>
            <input style="border-radius:5px;" type="password" asp-for="ConfirmarSenha" class="form-control shadow-none" />
            <span class="text-danger" asp-validation-for="ConfirmarSenha"></span>
        </div>

        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-success w-50 mx-1"><i class="bi bi-plus-circle"></i>Cadastrar</button>

            @if (ViewBag.Perfil == PerfilEnum.Cliente && ViewBag.Id == 0)
            {
                <a class="btn btn-info w-50" asp-controller="Cliente" asp-action="Index" asp-route-id="0"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
            }
            else if (ViewBag.Perfil == PerfilEnum.Cliente && ViewBag.Id != 0)
            {
                <a class="btn btn-info w-50" asp-controller="Home" asp-action="Login" asp-route-id="0"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
            }
            else
            {
                <a class="btn btn-info w-50" asp-controller="Funcionario" asp-action="Index" asp-route-id="0"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
            }
        </div>
    </form>
</div>