@using DestinoComum2.Enum
@using DestinoComum2.Models
@model UsuarioModel 

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-selected="true" aria-controls="nav-home">Dados Gerais</button>
@*         <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-selected="true" aria-controls="nav-profile">Dados Gerais</button>
 *@
    </div>
</nav>
<body style="background:#F5F5F5 ">

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="cointainer mt-5">
                <form method="post" asp-action="MudarSituacaoUsuario" asp-controller="Usuario">
                    <input type="hidden" asp-for="Id" />

                    @if (Model.Perfil != PerfilEnum.Cliente)
                    {
                        <h2 style=" letter-spacing:5px; display:flex; justify-content:center; align-items:center; margin-bottom:3rem; margin-top:8rem; font-size:3rem;  color:black;">Detalhes do Funcionário - @Model.Usuario</h2>
                    }
                    else
                    {
                        <h2 style=" letter-spacing:5px; display:flex; justify-content:center; align-items:center; margin-bottom:5rem; margin-top:10rem; font-size:3rem;  color:black;">Detalhes do Cliente - @Model.Usuario</h2>
                    }

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">Nome Completo</label>
                        <input asp-for="NomeCompleto" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " disabled />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">Usuário</label>
                        <input asp-for="Usuario" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " disabled />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">CPF</label>
                        <input asp-for="CPF" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " disabled />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">E-mail</label>
                        <input asp-for="Email" type="email" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " disabled />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">Perfil</label>
                        <input asp-for="Perfil" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " disabled />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">Situação</label>
                        <input value="@(Model.Situacao == true ? "Ativo": "Inativo")" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">Data de Cadastro</label>
                        <input asp-for="DataCadastro" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px;   width:50%;  " disabled />
                    </div>

                    <div class="mb-1" style="margin-left:35rem;">
                        <label style="font-size:1.2rem; font-weight:500;">Data de Alteração do Cadastro</label>
                        <input asp-for="DataUltimaAtualizacao" type="text" class="form-control shadow-none" style=" background-color:#D3D3D3; border-radius:5px; margin-bottom:3rem; width:50%;  " disabled />
                    </div>


                    <div class="d-flex mt-3">
                        @if (Model.Perfil == PerfilEnum.Cliente)
                        {
                            <a asp-controller="Cliente" asp-action="Index" asp-route-id="0" class="btn btn-info w-100 mt-2"><i class="bi bi-arrow-left-circle"></i>Voltar</a>
                        }
                        else
                        {
                            <a asp-controller="Funcionario" asp-action="Index" class="btn btn-info w-100 mt-2"><i class="bi bi-arrow-left-circle"></i>Voltar</a>

                        }


                        @if (Model.Situacao == false)
                        {
                            <button type="submit" class="btn btn-success w-100 mx-1 mt-2"><i class="bi bi-plus"></i>Ativar Usuário</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger w-100 mx-1 mt-2"><i class="bi bi-x"></i>Inativar Usuário</button>
                        }
                    </div>
                </form>


            </div>


        </div>

    </div>
</body>
