@model IEnumerable<UsuarioModel>

<div class="grid text-center" asp-controller="Usuario" asp-action="Index">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">Minhas Informações</div>
            <div class="col-lg-4">Meus Comentários</div>
            <div class="col-lg-4">Cidades Favoritas</div>
        </div>
    </div>
</div>

